@model MVCBasico.Models.Subasta

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Subasta - @Html.DisplayFor(model => model.Codigo)</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinalizacion" class="control-label"></label>
                <input asp-for="FechaFinalizacion" class="form-control" />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UsuarioId" />
            <div class="form-group">
                <div>
                    <input type="submit" value="Guardar" class="btn btn-secondary" />
                    <a asp-controller="Subasta" asp-action="AddedProduct" asp-route-id="@Model.Id">
                        <input type="button" value="Agregar productos" class="btn btn-secondary" />
                    </a>
                    <a class="btn btn-secondary" asp-action="Index">Volver a la lista</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
