@model MVCBasico.Models.Usuario

@{
    ViewData["Title"] = "Registar Usuario";
    ViewData["Container"] = "disabled";
}

<h1 align="center">Registrar nuevo usuario</h1>

<hr />
<div align:center; style="height: 150vh;
        background-image: url(/images/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-color: #00000030;
        background-blend-mode: overlay;">
    <div class="container h-100">
        <div class="h-100">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <table align="center">
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Apodo" class="control-label"></label>
                                    <input asp-for="Apodo" class="form-control" />
                                    <span asp-validation-for="Apodo" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Apellido" class="control-label"></label>
                                    <input asp-for="Apellido" class="form-control" />
                                    <span asp-validation-for="Apellido" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Contraseña" class="control-label"></label>
                                    <input asp-for="Contraseña" class="form-control" />
                                    <span asp-validation-for="Contraseña" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="DNI" class="control-label"></label>
                                    <input asp-for="DNI" class="form-control" />
                                    <span asp-validation-for="DNI" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="CBU" class="control-label"></label>
                                    <input asp-for="CBU" class="form-control" />
                                    <span asp-validation-for="CBU" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="CUIL" class="control-label"></label>
                                    <input asp-for="CUIL" class="form-control" />
                                    <span asp-validation-for="CUIL" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Saldo" class="control-label"></label>
                                    <input asp-for="Saldo" class="form-control" />
                                    <span asp-validation-for="Saldo" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="FechaNaciemiento" class="control-label"></label>
                                    <input asp-for="FechaNaciemiento" class="form-control" />
                                    <span asp-validation-for="FechaNaciemiento" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Genero" class="control-label"></label>
                                    <select asp-for="Genero" class="form-control" asp-items="Html.GetEnumSelectList<TipoGenero>()">
                                        <option selected="selected" value="">Por favor seleccione un género</option>
                                    </select>
                                    <span asp-validation-for="Genero" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="Estado" class="control-label"></label>
                                    <select asp-for="Estado" class="form-control" asp-items="Html.GetEnumSelectList<EstadoUsuario>()">
                                        <option selected="selected" value="">Por favor seleccione un estado</option>
                                    </select>
                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="submit" value="Crear" class="btn btn-secondary" />
                                </div>
                            </td>
                            <td>
                                <div>
                                  <a asp-controller="Login" asp-action="Login"><input type="button" value="Volver hacia atrás" class="btn btn-secondary" /></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
